In [37]:
# importing the pandas module for
# data frame
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score




# load the data set into train variable.
train = pd.read_csv('/kaggle/input/data-set-test/cars.csv')

# display top 5 values of data set
train.head()

         DateTime   Vehicles
0  1/11/2015 0:00          2
1  1/12/2015 0:00         10
2  1/13/2015 0:00          4
3  1/14/2015 0:00         22
4  1/15/2015 0:00         16

In [38]:
# function to get all data from time stamp

# get date
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-01-11,2,11.0,6.0,0.0,1.0,2015.0,11.0,2.0
1,2015-01-12,10,12.0,0.0,0.0,1.0,2015.0,12.0,3.0
2,2015-01-13,4,13.0,1.0,0.0,1.0,2015.0,13.0,3.0
3,2015-01-14,22,14.0,2.0,0.0,1.0,2015.0,14.0,3.0
4,2015-01-15,16,15.0,3.0,0.0,1.0,2015.0,15.0,3.0

In [39]:
train.to_csv('file1.csv')

In [40]:

# display top 5 values of data set
train.head()

,DateTime,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-01-11,2,11.0,6.0,0.0,1.0,2015.0,11.0,2.0
1,2015-01-12,10,12.0,0.0,0.0,1.0,2015.0,12.0,3.0
2,2015-01-13,4,13.0,1.0,0.0,1.0,2015.0,13.0,3.0
3,2015-01-14,22,14.0,2.0,0.0,1.0,2015.0,14.0,3.0
4,2015-01-15,16,15.0,3.0,0.0,1.0,2015.0,15.0,3.0

In [41]:
print(train.columns)

Index(['DateTime', ' Vehicles', 'date', 'weekday', 'hour', 'month', 'year',
       'dayofyear', 'weekofyear'],
      dtype='object')

In [42]:
# there is no use of DateTime module
# so remove it
train = train.drop(['DateTime'], axis=1)

# separating class label for training the data
train1 = train.drop([' Vehicles'], axis=1)

# class label is stored in target
target = train[' Vehicles']

print(train1.head())
target.head()

   date  weekday  hour  month    year  dayofyear  weekofyear
0  11.0      6.0   0.0    1.0  2015.0       11.0         2.0
1  12.0      0.0   0.0    1.0  2015.0       12.0         3.0
2  13.0      1.0   0.0    1.0  2015.0       13.0         3.0
3  14.0      2.0   0.0    1.0  2015.0       14.0         3.0
4  15.0      3.0   0.0    1.0  2015.0       15.0         3.0

0     2
1    10
2     4
3    22
4    16
Name:  Vehicles, dtype: int64

In [43]:
target = pd.read_csv('/kaggle/working/file1.csv')

# separating class label for training the data
train1 = train.drop(' Vehicles', axis=1)

# class label is stored in target
target = train[' Vehicles']

train1.head()
#target.head()

   date  weekday  hour  month    year  dayofyear  weekofyear
0  11.0      6.0   0.0    1.0  2015.0       11.0         2.0
1  12.0      0.0   0.0    1.0  2015.0       12.0         3.0
2  13.0      1.0   0.0    1.0  2015.0       13.0         3.0
3  14.0      2.0   0.0    1.0  2015.0       14.0         3.0
4  15.0      3.0   0.0    1.0  2015.0       15.0         3.0

In [44]:

# train1 = pd.read_csv('/kaggle/working/train1.csv')
train1 = train1.fillna(train1.mean())
# target = pd.read_csv('/kaggle/working/target.csv')
#importing Random forest
from sklearn.ensemble import RandomForestRegressor
#defining the RandomForestRegressor
# m1=RandomForestRegressor()
m1 = SVR(kernel='linear') 

# m1.fit(train1,target)
#testing
# m1.predict([[11,6,0,1,2015,11,2]])

In [45]:
X_train, X_test, y_train, y_test = train_test_split(train1, target, test_size=0.2, random_state=42)

# Create and train the model
# model = DecisionTreeClassifier(random_state=42)
m1.fit(X_train, y_train)
y_pred = m1.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 15.805937328894379
Mean Squared Error: 601.508560359632
Root Mean Squared Error: 24.525671455836473
R-squared: -0.15014633154122836