In [14]:
# importing the pandas module for
# data frame
!pip install pygam
import pandas as pd
import numpy as np
import lightgbm as lgb
import xgboost as xgb
from pygam import LinearGAM
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Lasso
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score




# load the data set into train variable.
train = pd.read_csv('/kaggle/input/trafficvehiclesjunction/traffic.csv')
train = train.drop('ID', axis=1)

# display top 5 values of data set
train.head()

Requirement already satisfied: pygam in /opt/conda/lib/python3.10/site-packages (0.9.1)
Requirement already satisfied: numpy>=1.25 in /opt/conda/lib/python3.10/site-packages (from pygam) (1.26.4)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from pygam) (4.4.2)
Requirement already satisfied: scipy<1.12,>=1.11.1 in /opt/conda/lib/python3.10/site-packages (from pygam) (1.11.4)
Requirement already satisfied: python-utils>=3.8.1 in /opt/conda/lib/python3.10/site-packages (from progressbar2<5.0.0,>=4.2.0->pygam) (3.8.2)
Requirement already satisfied: typing-extensions>3.10.0.2 in /opt/conda/lib/python3.10/site-packages (from python-utils>=3.8.1->progressbar2<5.0.0,>=4.2.0->pygam) (4.9.0)

              DateTime  Junction  Vehicles
0  2015-11-01 00:00:00         1        15
1  2015-11-01 01:00:00         1        13
2  2015-11-01 02:00:00         1        10
3  2015-11-01 03:00:00         1         7
4  2015-11-01 04:00:00         1         9

In [15]:
# function to get all data from time stamp

# get date
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Junction,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-11-01 00:00:00,1,15,1,6,0,11,2015,305,44
1,2015-11-01 01:00:00,1,13,1,6,1,11,2015,305,44
2,2015-11-01 02:00:00,1,10,1,6,2,11,2015,305,44
3,2015-11-01 03:00:00,1,7,1,6,3,11,2015,305,44
4,2015-11-01 04:00:00,1,9,1,6,4,11,2015,305,44

In [16]:
train.to_csv('file1.csv')

In [17]:
# display top 5 values of data set
#train = train[train['Junction'] == 1]
train.head()

,DateTime,Junction,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-11-01 00:00:00,1,15,1,6,0,11,2015,305,44
1,2015-11-01 01:00:00,1,13,1,6,1,11,2015,305,44
2,2015-11-01 02:00:00,1,10,1,6,2,11,2015,305,44
3,2015-11-01 03:00:00,1,7,1,6,3,11,2015,305,44
4,2015-11-01 04:00:00,1,9,1,6,4,11,2015,305,44

In [18]:
#train = train.drop(['Junction'], axis=1)
print(train.columns)

Index(['DateTime', 'Junction', 'Vehicles', 'date', 'weekday', 'hour', 'month',
       'year', 'dayofyear', 'weekofyear'],
      dtype='object')

In [19]:
# there is no use of DateTime module
# so remove it
train = train.drop(['DateTime'], axis=1)

# separating class label for training the data
train1 = train.drop(['Vehicles'], axis=1)

# class label is stored in target
target = train['Vehicles']

print(train1.head())
target.head()

   Junction  date  weekday  hour  month  year  dayofyear  weekofyear
0         1     1        6     0     11  2015        305          44
1         1     1        6     1     11  2015        305          44
2         1     1        6     2     11  2015        305          44
3         1     1        6     3     11  2015        305          44
4         1     1        6     4     11  2015        305          44

0    15
1    13
2    10
3     7
4     9
Name: Vehicles, dtype: int64

In [20]:
target = pd.read_csv('/kaggle/working/file1.csv')

# separating class label for training the data
train1 = train.drop('Vehicles', axis=1)

# class label is stored in target
target = train['Vehicles']

train1.head()
#target.head()

   Junction  date  weekday  hour  month  year  dayofyear  weekofyear
0         1     1        6     0     11  2015        305          44
1         1     1        6     1     11  2015        305          44
2         1     1        6     2     11  2015        305          44
3         1     1        6     3     11  2015        305          44
4         1     1        6     4     11  2015        305          44

In [21]:

# train1 = pd.read_csv('/kaggle/working/train1.csv')
train1 = train1.fillna(train1.mean())
# target = pd.read_csv('/kaggle/working/target.csv')
#importing Random forest
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
#defining the RandomForestRegressor

# k = 3
# m1=RandomForestRegressor()
# from catboost import CatBoostRegressor
# m1 = CatBoostRegressor(loss_function='MAE',iterations=10000,verbose=False)

xgb_model = xgb.XGBRegressor(objective ='reg:squarederror', random_state=42,n_estimators=300)
catboost_model = CatBoostRegressor(loss_function='MAE',iterations=50000,verbose=False)
# Training the model
#m1.fit(train1, target)
# m1 = LinearGAM().fit(train1, target)

# m1.fit(train1,target)
#testing
# m1.predict([[11,6,0,1,2015,11,2]])

In [24]:
import sklearn
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Assuming you have your data loaded and preprocessed
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train1)
X_train, X_test, y_train, y_test = train_test_split(train_scaled, target, test_size=0.2, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

# Train Random Forest model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

# Train XGBoost model
xgb_model = XGBRegressor(objective='reg:squarederror', random_state=42, n_estimators=300)
xgb_model.fit(X_train, y_train)

# Get predictions on validation data
rf_preds_val = rf_model.predict(X_val)
xgb_preds_val = xgb_model.predict(X_val)

# Get predictions on test data
rf_preds_test = rf_model.predict(X_test)
xgb_preds_test = xgb_model.predict(X_test)

# Ensemble methods
# Simple Averaging
ensemble_preds_avg = (rf_preds_test + xgb_preds_test) / 2

# Weighted Averaging (hypothetical weights, adjust according to performance)
ensemble_preds_weighted = (0.7 * rf_preds_test) + (0.3 * xgb_preds_test)

# Stacking (use predictions of rf_model and xgb_model as features)
stacking_X = np.column_stack((rf_preds_val, xgb_preds_val))
meta_model = sklearn.linear_model.LinearRegression()
meta_model.fit(stacking_X, y_val)
stacking_preds = meta_model.predict(np.column_stack((rf_preds_test, xgb_preds_test)))

# Evaluate the model
mae = mean_absolute_error(y_test, ensemble_preds_avg)
mse = mean_squared_error(y_test, ensemble_preds_avg)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, ensemble_preds_avg)

print(f'Simple Averaging:')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

mae = mean_absolute_error(y_test, ensemble_preds_weighted)
mse = mean_squared_error(y_test, ensemble_preds_weighted)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, ensemble_preds_weighted)

print(f'\nWeighted Averaging:')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

mae = mean_absolute_error(y_test, stacking_preds)
mse = mean_squared_error(y_test, stacking_preds)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, stacking_preds)

print(f'\nStacking:')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Simple Averaging:
Mean Absolute Error: 2.1864127124089157
Mean Squared Error: 10.671150144510918
Root Mean Squared Error: 3.2666726411611737
R-squared: 0.973340889411996

Weighted Averaging:
Mean Absolute Error: 2.209461176710025
Mean Squared Error: 10.529448327527666
Root Mean Squared Error: 3.2449111432407
R-squared: 0.9736948947777083

Stacking:
Mean Absolute Error: 2.1976859935309703
Mean Squared Error: 10.492252154993585
Root Mean Squared Error: 3.239174610142773
R-squared: 0.9737878198011226